<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sun.androidlearn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".ui.day07.ImageActivity"></activity>
        <activity android:name=".ui.day06.LaunchModeMyActivity" />
        <activity android:name=".ui.day06.DateMyActivity" />
        <activity
            android:name=".ui.day06.LaunchModeActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.day06.DataActivity" />
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.day04.GuidanceMyActivity" />
        <activity android:name=".ui.day04.HandlerMyActivity" />
        <activity android:name=".ui.day04.HandlerActivity" />
        <activity android:name=".ui.day04.GuidanceActivity" />
        <activity android:name=".ui.day03.PermissionActivityMy" />
        <activity android:name=".ui.day02.ViewPagerActivityMy" />
        <activity android:name=".ui.day02.AnimActivityMyOne" />
        <activity android:name=".ui.WechatActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ListActivity" />
        <activity android:name=".ui.day02.AnimActivity" />
        <activity android:name=".ui.day02.ViewPagerActivity" />
        <activity android:name=".ui.day03.PermissionActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>